.App {
  text-align: center;
}

.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 80px;
}

input {
  width: 250px;
  height: 30px;
}

.App-sections-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.App-input-container {
  flex: 1;
  align-items: center;
}

.App-code-container {
  flex: 2;
  align-items: flex-start;
}

.App-code-example-img {
  display: block;
  width: 500px;
  border: 2px solid black;
}